<div class="text-layout">
    <h1>Pipes personalizados</h1>
    <p>Pipes creados por {{ 'nosotros' | mayusculas:enMayusculas }}</p>
</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
        
    </div>
    
    <div class="p-toolbar-group-right">
        <button pButton class="mr-1 p-button-warning"
            (click)="changeFlag()" 
            label="Toggle mayúsculas">
        </button>

        <button pButton class="mr-1 p-button-info"
                (click)="changeOrderBy('nombre')"
                icon="pi pi-sort" 
                label="Por nombre">
        </button>
        <button pButton class="mr-1 p-button-success"
                (click)="changeOrderBy('vuela')"
                icon="pi pi-sort" 
                label="Vuela">
        </button>
        <button pButton class="mr-1 p-button-secondary"
                (click)="changeOrderBy('color')"
                icon="pi pi-sort" 
                label="Por Color">
        </button>
    </div>
</p-toolbar>

<div class="p-grid">
    <div class="col">
        <p-table [value]="heroes | ordenar:orderBy" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="p-grid">
    <div class="col">
        <p-table [value]="heroes | slice:0" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>